html{
  font-style: 10px;
  font-family: '小塚ゴシック pro','Kozuka Gothic Pro',sans-serif;
}
a{
  font-size: 1.6rem;
  line-height: 1.5;
}
h2{
  font-size: 4.6rem;
  line-height: 1.5;
}
p{
  font-size: 1.6rem;
  line-height: 1.5;
}
.flex{
  display: flex;
}
body{
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
section:not(.mv){
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 0;
}
.wrap{
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}
header{
  width: 90%;
  height: 110px;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
header ul{
  align-items: center;
}
header ul li{
  padding: 0 20px;
}
header ul li:first-of-type{
  padding-left: 0;
}
header ul li:last-of-type{
  padding-right: 0;
}
header a.header-btn{
  width: 144px;
  height: 50px;
  background-color: #FDD322;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.mv{
  width: 100vw;
  height: 800px;
  background-image:url(".img/office-620822_640.jpg");
  z-index: -1;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mv h2{
  font-size: 5.4rem;
 }
.mv p{
  font-size: 1.8rem;
  margin-top: 40px;
}
.about{
  /* 各アイテムを均等に配置し各アイテムの両側に半分の大きさの感覚を置く */
  justify-content: space-around;
}
.about div{
  width: 45%;
  justify-content: space-between;
}
.about div{
  width: 45%;
  max-width: 435px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.about div h2{
  padding-bottom: 33px;
}
.about img{
  width: 45%;
  max-width: 538px;
  text-align: right;
}
section.service,section.employee{
  max-width: inherit;
  background-color: #0096e5;
}
section.service p,section.service h2,section.employee p,section.service h2{
  color: #fff;
}
.service div{
  display: flex;
  align-items: center;
}
.service ul{
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
}
.service ul li{
  width: 30%;
  padding:  34px 0;
}
.service  ul li p{
  margin-left: 80px;
}
.service div h2{
  margin-left: 24px;
  font-size: 3rem;
}
/* 上記までは第一回目のcssコーディング */
.news h2{
  text-align: center;
  margin-bottom: 30px;
}
.news p{
  text-align: center;
  margin-bottom: 60px;
}
.news ul{
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
}
.news ul li{
  width: 25%;
  max-width: 344px;
  margin: 0 auto;
}
.news ul li img{
  width: 100%;
}
.news ul li h3{
  font-size: 2.4rem;
  line-height: 1.5;
  margin-bottom: 20px;
}
.news ul li p{
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: left;
  margin: 20px 0;
}
.news ul li p:last-of-type{
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 0;
}
.news a{
  width: 144px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: #f2f4f8;
  margin: 80px auto 0;
}
.employee h2{
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}
.employee p{
  text-align: center;
  margin-bottom: 90px;
  color: #fff;
}
.employee ul.flex{
  justify-content: space-between;
  max-width: 1120px;
  margin: 0 auto;
}
.employee ul li img{
  padding: 0 5%;
}
.employee ul li img:last-of-type{
  padding-right: 0;
}
.employee ul li h3{
  font-size: 2.4rem;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  margin:  20px auto 15px;
}
.employee ul li p{
  margin-bottom: 15px;
  color: #fff;
}
.employee a{
  width: 144px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: #f2f4f8;
  margin: 117px auto 0;
}
.contact{
  width: 100%!important;
  max-width: inherit!important;
  background-image: url(".img/img/meeting-2284501_640.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact div{
  width: 58%;
  max-width: 1120px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255,255,255,0.6);
  border-radius: 55px;
  padding: 115px 0;
}
.contact p{
  margin-top: 30px;
  font-size: 3.1rem;
}
.contact a{
  width: 520px;
  height: 123px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdd322;
  box-shadow:  6px 6px 6px rgba(0,0,0,16);
  border-radius: 100px;
  font-size: 4rem;
  margin: 75px auto 0;
}
footer div:first-of-type{
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  padding: 135px 80px;
  margin: 0 auto;
  justify-content: space-between;
}
footer div:first-of-type ul{
  font-size: 2.4rem;
}
footer div:first-of-type ul li{
  padding: 20px 0;
}
footer div:first-of-type ul li,footer div:first-of-type ul li a{
  font-size: 1.8rem;
}
footer div:first-of-type ul:first-of-type{
  width: 50%;
  font-size: 3rem;
}
footer div:last-of-type{
  width: 100%;
  height: 80px;
  background-color: #0b1e4b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.3rem;
}
/* レスポンシブ対応 */
@media only screen and (max-width:1024px){
  .flex{
    flex-direction: column;
  }
  header{
    visibility: hidden;
  }
  h2,.mv h2{
    font-size: 2.2rem;
    /* line-height: 1.5; */
  }
  .news ul li h3{
    font-size: 2.0rem;
  }
  p,.mv p{
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .mv div{
    width: 90%;
    /* max-width: inherit;
    margin:  0 auto; */
  }
  .about div ,.about img{
    width: 90%;
    max-width: inherit;
    margin: 0 auto;

  }
  .service ul li{
    width: 90%;
    /* max-width: inherit; */
    margin: o auto;
  }
  .news ul li{
    width: 90%;
    max-width: inherit;
    margin: 0 auto 30px;
  }
  .employee ul li{
    text-align: center;
  }
  .employee ul li h3{
    font-size: 2.0rem;
  }
  .contact div{
    width: 75%;
  }
  .contact p{
    font-size: 1.6rem;
    padding:  0 10px;
  }
  .contact a{
    width: 70%;
    min-width: 200px;
    height: 80px;
    font-size: 1.6rem;
  }
  footer div:first-of-type ul li a,footer div:first-of-type ul li{
    font-size: 1.6rem;
  }
  footer ul{
    width: 95%!important;
    margin:  0 auto;
    margin-bottom: 40px;
    text-align: left;
  }
}