html{
  font-style: 10px;
}
a{
  font-style: 1.6rem;
  line-height: 1.5;
}
h2{
  font-style: 4.6rem;
  line-height: 1.5;
}
p{
  font-style: 1.6rem;
  line-height: 1.5;
}
.flex{
  display: flex;
}
body{
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
section:not(.mv){
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px;
}
.wrap{
  width: 100%;
  height: 110px;
  margin: 0 auto;
}
header{
  width: 100%;
  height: 110px;
  max-width: 1400px;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
header ul{
  align-items: center;
}
header ul li{
  padding: 0 20px;
}
header ul li:first-of-type{
  padding-left: 0;
}
header ul li:last-of-type{
  padding-right: 0;
}
header a.header-btn{
  width: 144px;
  height: 50px;
  background-color: #fdd322;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.mv{
  width: 144px;
  height: 50px;
  background-image:url(".img/office-620822_640.jpg");
  z-index: -1;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mv h2{
  font-size: 5.4rem;
 }
.mv h2{
font-size: 5.4rem;
}
.mv p{
  font-size: 1.8rem;
  margin-top: 40px;
}
.about{
  /* 各アイテムを均等に配置し各アイテムの両側に半分の大きさの感覚を置く */
  justify-content: space-around;
}
.about div{
  width: 80%;
  justify-content: space-between;
}
.about div{
  width: 45%;
  max-width: 435px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.about div h2{
  padding-bottom: 33px;
}
.about img{
  width: 45%;
  max-width: 538px;
  text-align: left;
}
section.service,section.employee{
  max-width: inherit;
  background-color: #0096e5;
}
section.service p,section.service h2,section.employee p,section.service h2{
  color: #fff;
}
.service div{
  display: flex;
  align-items: center;
}
.service ul{
  flex-wrap: wrap;
}
.service ul li{
  width: 30%;
  padding:  34px ;
}
.service  ul li p{
  margin-left: 80px;
}
.service dev h2{
  margin-left: 24px;
  font-size: 3rem;
}